apiVersion: apps/v1
kind: Deployment
metadata:
  {{- if .Values.localNodeID }}
  name: {{ include "cosmos-exporter.fullname" . }}-{{ .Values.localNodeID }}
  {{- else }}
  name: {{ include "cosmos-exporter.fullname" . }}
  {{- end }}
  labels:
    {{- include "cosmos-exporter.labels" . | nindent 4 }}
    {{- with .Values.metadata.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if .Values.metadata.annotations }}
  annotations:
    {{- toYaml .Values.metadata.annotations | nindent 4 }}
  {{- end }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "cosmos-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "cosmos-exporter.labels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ include "cosmos-exporter.fullname"  . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- with .Values.localNodeID }}
            - name: NODE_NAME
              value: {{ $.Release.Name }}-{{ . }}
            {{- end }}
            {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- if .Values.externalSecrets }}
          envFrom:
            {{- range .Values.externalSecrets }}
            - secretRef:
                name: {{ .target.name }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.port }}
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /config.yaml
              subPath: config.yaml
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- if .Values.localNodeID }}
        - name: config
          configMap:
            name: {{ include "cosmos-exporter.fullname" . }}-config-{{ .Values.localNodeID }}
          {{- else }}
          - name: config
            configMap:
              name: {{ include "cosmos-exporter.fullname" . }}-config
          {{- end }}
