apiVersion: v1
kind: Service
metadata:
  {{- if .Values.localNodeID }}
  name: {{ include "cosmos-exporter.fullname" . }}-{{ .Values.localNodeID }}
  {{- else }}
  name: {{ include "cosmos-exporter.fullname" . }}
  {{- end }}
  labels:
    {{- include "cosmos-exporter.labels" . | nindent 4 }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "{{ .Values.port }}"
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.port }}
      targetPort: {{ .Values.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "cosmos-exporter.selectorLabels" . | nindent 4 }}
