apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config-overlay
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "blch-node.labels" . | nindent 4 }}
data:
  config-overlay-defaults.toml: |
    {{- if eq .Values.blch.nodeType "sentry" }}
    priv_validator_laddr = "tcp://0.0.0.0:1234"
    {{- end }}
    {{- if .Values.blch.config }}
    {{- if .Values.blch.config.seeds }}
    seeds = {{ .Values.blch.config.seeds | quote }}
    {{- end }}
    {{- if .Values.blch.config.peers }}
    peers = {{ .Values.blch.config.peers | quote }}
    {{- end }}
    {{- if .Values.blch.config.kvIndexerEnabled }}
    [tx_index]
    indexer = "kv"
    {{- end }}
    {{- end }}
  {{- if .Values.p2pDNSNameEnabled }}
  {{- range $i := until (int .Values.replicas) }}
  config-overlay-defaults-{{ $.Release.Name }}-{{ $i }}.toml: |
    [p2p]
    external-address = "{{ $.Release.Name }}-{{ $i }}.{{ $.Values.endpointsBaseDomain }}:26656"
  {{- end }}
  {{- end }}
  {{- with .Values.configOverrides }}
  {{- with .allnodes }}
  config-overlay-overrides.toml: |
    {{- .overrides | nindent 4 }}
  {{- end }}
  {{- with .pernode }}
  {{- range . }}
  config-overlay-overrides-{{ $.Release.Name }}-{{ .podOrdinal }}.toml: |
    {{- .overrides | nindent 4 }}
  {{- end }}
  {{- end }}
  {{- end }}
  app-overlay-defaults.toml: |
    minimum-gas-prices = {{ .Values.blch.minGasPrice | quote }}
    {{- if .Values.blch.pruning }}
    pruning-strategy = {{ .Values.blch.pruning.strategy | default "custom" | quote }}
    pruning-keep-recent = {{ .Values.blch.pruning.keepRecent | default 100 | quote }}
    pruning-interval = {{ .Values.blch.pruning.interval | default 10 | quote }}
    {{- if .Values.blch.pruning.keepEvery }}
    pruning-keep-every = {{ .Values.blch.pruning.keepEvery | quote }}
    {{- end }}
    {{- end }}
  {{- with .appOverrides }}
  {{- with .allnodes }}
  app-overlay-overrides.toml: |
    {{- .overrides | nindent 4 }}
  {{- end }}
  {{- with .pernode }}
  {{- range . }}
  app-overlay-overrides-{{ $.Release.Name }}-{{ .podOrdinal }}.toml: |
    {{- .overrides | nindent 4 }}
  {{- end }}
  {{- end }}
  {{- end }}
