apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-scripts
  labels:
    {{- include "blch-node.labels" . | nindent 4 }}
data:
{{ (.Files.Glob "files/scripts/*").AsConfig | indent 2 }}
