{{- if eq .Values.blch.nodeType "sentry" }}
{{- range $i := until (int .Values.replicas) }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $.Release.Name }}-sentry-{{ $i }}
  labels:
{{ include "blch-node.labels" $ | nindent 4 }}
spec:
  clusterIP: None
  selector:
    app.kubernetes.io/name: {{ $.Release.Name }}
    statefulset.kubernetes.io/pod-name: {{ $.Release.Name }}-{{ $i }}
  ports:
    - protocol: TCP
      port: 1234
      targetPort: 1234
      name: p2p
    - protocol: TCP
      port: 26657
      targetPort: 26657
      name: rpc
    - protocol: TCP
      port: 1317
      targetPort: 1317
      name: rest
  publishNotReadyAddresses: true
{{- end }}
{{- end }}
