nameOverride: ""
fullnameOverride: ""

port: &appPort 9100

image:
  repository: ghcr.io/p2p-org/rcosmos-exporter
  pullPolicy: Always
  tag: v3.0.2

env: []

metadata:
  annotations: {}
  labels: {}

# External Secrets configuration
externalSecrets: []
# - name:
#   refreshInterval: 1h
#   secretStoreRef:
#     kind: ClusterSecretStore
#     name:
#   target:
#     name:
#     creationPolicy: Owner
#   data:
#   - secretKey:
#     remoteRef:
#       key:
#       property:

config:
  general:
    rpc_timeout_seconds: 20
    network:
    chain_id: cometbft
    mode: network
    metrics:
      address: 0.0.0.0
      port: *appPort
      path: /metrics
    alerting:
      validators: []

  nodes:
    rpc: []
    lcd: []

  node:
    client: ""
    tendermint:
      nodeInfo:
        enabled: true
        interval: 30
    cometbft:
      status:
        enabled: true
        interval: 30

  network:
    cometbft:
      validators:
        enabled: true
        interval: 30
      block:
        enabled: true
        interval: 30
        window: 500
        concurrency: 1
        catchup_mode_threshold: 1000
        tx:
          enabled: true
        uptime:
          persistence: true
          insert_concurrency: 1

    tendermint:
      bank:
        addresses: []
        enabled: false
        interval: 30
      distribution:
        enabled: true
        interval: 30
      gov:
        enabled: true
        interval: 30
      staking:
        enabled: true
        interval: 30
        validators: true
        delegations: true
        commissions: true
        pool: true
        params: true
      slashing:
        enabled: true
        interval: 30
      upgrade:
        enabled: true
        interval: 30

    mezo:
      poa:
        enabled: false
        interval: 30

    babylon:
      bls:
        enabled: false
        interval: 30

    lombard:
      ledger:
        addresses: []
        enabled: false
        interval: 30

    namada:
      account:
        addresses: []
        enabled: false
        interval: 30
      pos:
        enabled: false
        interval: 30

    coredao:
      block:
        enabled: false
        interval: 30
        window: 500
      validator:
        enabled: false
        interval: 30
        api:
          enabled: false
          url: ""
          api_key: ""
          cache_duration_seconds: 300

      staking:
        enabled: false
        interval: 30

    sei:
      validators:
        enabled: false
        interval: 10
      block:
        enabled: false
        interval: 10
        window: 500
        concurrency: 25
        catchup_mode_threshold: 1000
        tx:
          enabled: false
        uptime:
          persistence: false
          insert_concurrency: 200

    axelar:
      broadcaster:
        enabled: false
        interval: 1
        axelarscan_api: https://api.axelarscan.io
        alerting:
          addresses:
            - axelar1dexdcyf67247kz09vh4hu3phfep2yfut6p6zfk

livenessProbe:
  tcpSocket:
    port: *appPort
  initialDelaySeconds: 60
  periodSeconds: 20
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  tcpSocket:
    port: *appPort
  periodSeconds: 5
  timeoutSeconds: 1
  failureThreshold: 3


resources:
  requests:
    memory: "200Mi"
  limits:
    memory: "200Mi"

imagePullSecrets: []

affinity: {}

tolerations: []

nodeSelector: {}

# Enable for node mode when full nodes are running and exposed as local Kubernetes services to generate rpc/lcd endpoints configs dynamically
# Service names are expected to be in the format: <release-name>-headless-<node-index>
localNodes:
  enabled: false
# Number of nodes
  replicas: 0
